:root {
  /* Colors */
  --clr-primary-100: hsl(0, 0%, 100%);
  --clr-secondary-200: hsl(212, 45%, 89%);
  --clr-accent-400: hsl(220, 15%, 55%);
  --clr-accent-900: hsl(218, 44%, 22%);

  /* Font family */
  --ff-base: "Outfit", sans-serif;

  /* Font weight */
  --fw-regular: 400;
  --fw-bold: 700;
}

/* Use a more-intuitive box-sizing model */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Remove default margins */
* {
  margin: 0;
}

/* Avoid text overflow*/
p,
h1 {
  overflow-wrap: break-word;
}

h1 {
  line-height: 1.2;
}

/* responsive images */
img {
  display: block;
  max-width: 100%;
}

/* General/Generic */
body {
  background-color: var(--clr-secondary-200);
  color: var(--clr-accent-400);
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 0.9rem;
  line-height: 1.5;
  min-height: 100svh;

  display: grid;
  place-content: center;
  padding: 0rem 1.5rem;
}

.code {
  --content-padding: 1rem;
  --content-spacing: 1rem;

  background-color: var(--clr-primary-100);
  padding: var(--content-padding);
  text-align: center;
  border-radius: 1rem;
  max-width: 20.5rem;
}

.code__image {
  border-radius: 0.5rem;
}

.code__content {
  padding: var(--content-padding);

  display: grid;
  gap: var(--content-spacing);
}

.code__title {
  color: var(--clr-accent-900);
}
