
/* makes sizing simpler */
*, *::after, *::before{
    box-sizing: border-box;
}

*{
    margin: 0;
}

body{
    line-height: 1.5;
    min-height: 100svh;
}

p,
h1{
    overflow-wrap: break-word;
}

img{
    display: block;
    max-width: 100%;
}